.button {
  display: inline-block;
  margin-right: 0px;
  font-family: "Fira Code", sans-serif;
  color: #ffff;
  background-color: #c9e3ac;
  padding: 18px 20px;
  box-shadow: 5px 5px 0px #000;
  transition: transform 100ms cubic-bezier(0.89, -0.45, 0, 3.37);
  text-decoration: none;
}

.button:hover {
  transform: scale(1.09);
  background: powderblue;
}
